@import url('./config/reset.css');
@import url('./fonts/stylesheet.css');
@import url('./config/header.css');
@import url('./config/main.css');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	min-width: 320px;
	background: #6725a8;
	font-family: 'Segoe Regular', sans-serif;
}

.wrapper {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	min-height: 100%;
	overflow: hidden;
}

.container {
	max-width: 1400px;
	padding-left: 24px;
	padding-right: 24px;
	margin: 0 auto;
}

.button {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 44px;
	font-family: 'Segoe Bold', sans-serif;
	background: #cb11ab;
	border-radius: 8px;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: 24px;
	transition: background 0.2s ease-in;

	&:hover {
		background: rgb(186, 12, 157);
	}
}
