@import url('./config/reset.css');
@import url('./fonts/stylesheet.css');
@import url('./config/header.css');
@import url('./config/main.css');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	min-width: 320px;
	background: #6725a8;
}

.wrapper {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	min-height: 100%;
	overflow: hidden;
}

.container {
	max-width: 1400px;
	padding-left: 24px;
	padding-right: 24px;
	margin: 0 auto;
}

.button {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 8px 0 12px;
	border-radius: 8px;
	color: #fff;
	cursor: pointer;

	text-align: center;
	font-family: Segoe UI;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: 24px; /* 150% */
	background: #cb11ab;
	transition: background 0.2s ease-in;
}

.button:hover {
	background: rgb(186, 12, 157);
}

.footer {
	padding: 24px 0;
	display: flex;
	align-items: center;
	justify-content: center;
	color: rgba(255, 255, 255, 0.7);
	font-size: 13px;
}

@media (max-width: 480px) {
	.container {
		padding-left: 16px;
		padding-right: 16px;
	}
}
