main {
	flex: 1 1 auto;
}

.none {
	display: none;
}

.basket {
	background: #f6f6fa;
	border-radius: 24px;
	padding: 22px 24px 50px;
	display: flex;
	gap: 32px;
	width: 100%;
}

.basket__left-wrapper {
	flex: 7;
	padding-top: 14px;
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.basket__right-wrapper {
	flex: 3;
}

.h1 {
	/* font-family: Segoe UI, sans-serif; */
	font-size: 28px;
	font-style: normal;
	font-weight: 700;
	line-height: 36px; /* 128.571% */
	letter-spacing: -0.28px;
}

.h2 {
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 32px; /* 133.333% */
	letter-spacing: -0.24px;
}

.h3 {
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 28px;
	letter-spacing: -0.2px;
}

.h4 {
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 24px; /* 150% */
}

.h5 {
	font-style: normal;
	font-weight: 700;
	font-size: 13px;
	line-height: 16px; /* 123.077% */
}

.p13 {
	font-size: 13px;
	font-style: normal;
	font-weight: 400;
	line-height: 16px; /* 123.077% */
}

.p14 {
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px; /* 142.857% */
}

.p16 {
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px; /* 150% */
}

.icon {
	cursor: pointer;
	padding: 5px;
	margin: -5px;
}

.row-between {
	display: flex;
	justify-content: space-between;
}

.total {
	background: #fff;
	border-radius: 16px;
	box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3),
		0px 2px 10px 0px rgba(0, 0, 0, 0.15);
	padding: 17px 24px 24px;
	display: flex;
	flex-direction: column;
	gap: 26px;
	height: max-content;
}

.total__item {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.total__content {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.total__title {
	margin-bottom: 12px;
}

.total__box {
	display: flex;
	align-items: center;
	gap: 8px;

	border-radius: 8px;
	background: #f6f6fa;
	padding: 8px 8px 12px 8px;
}

.total__price {
	margin-top: 9px;
}

.total__price svg {
	min-width: 22px;
}

.colored-magenta {
	line-height: 16px;
	color: #cb11ab;
	width: max-content;

	border-bottom: 1px dashed rgba(203, 17, 171, 0.2);
}

.colored-green {
	line-height: 16px;
	color: #0cb477;
	width: max-content;

	border-bottom: 1px dashed rgba(12, 180, 119, 0.2);
}

.card {
	display: flex;
	align-items: center;
	gap: 9px;
}

.total__checkbox {
	margin-top: 7px;
}

.checkbox {
	flex-direction: column;
	align-items: start;
}

.checkbox__label {
	cursor: pointer;
	display: flex;
	align-items: center;
}

.checkbox__real {
	width: 0;
	height: 0;
	opacity: 0;
	z-index: -1;
}

.checkbox__custom {
	display: inline-block;
	width: 22px;
	height: 22px;
	border: 1px solid #c5c5c8;
	border-radius: 5px;
	cursor: pointer;
	position: relative;
	transition: border 0.2s ease-in, background 0.2s ease-in;
	margin-right: 9px;
	z-index: 1;
}

.checkbox__custom::before {
	content: '';
	display: inline-block;
	width: 15px;
	height: 12px;
	background: url('../../assets/icons/check-white.svg');
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	transition: transform 0.2s ease-in;
}

.checkbox__real:checked + .checkbox__custom {
	background: #cb11ab;
	border: 1px solid #cb11ab;
}

.checkbox__real:checked + .checkbox__custom::before {
	transform: translate(-50%, -50%) scale(1);
}

.checkbox__real:hover + .checkbox__custom,
.checkbox__real:focus + .checkbox__custom {
	border: 1px solid #cb11ab;
}

.rules-confirm {
	margin-top: 6px;
	display: flex;
	align-items: flex-start;
	font-size: 13px;
	line-height: 16px;
}

.rules-confirm img {
	margin-right: 8px;
}

.rules {
	border-bottom: 1px solid #c5c5c8;
	cursor: pointer;
}

.basket__items-selection {
	display: flex;
	justify-content: space-between;
	padding: 26px 0 16px 1px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	text-align: center;
}

.basket__missing-selection {
	font-weight: 600;
	padding-bottom: 17px;
}

.basket__list {
	display: flex;
	flex-direction: column;
	gap: 30.5px;
	transition: all 0.2s ease-in;
	position: relative;
	transform-origin: top;
	transform: scaleY(1);
	padding-top: 12px;
	padding-bottom: 7px;
}

.basket__list_close {
	transform: scaleY(0);
}

.basket__item {
	display: flex;
	align-items: start;
	gap: 16px;
}

.basket__checkbox {
	display: flex;
	align-items: center;
	flex-direction: row;
	gap: 3px;
	min-width: 106px;
}

.basket__checkbox_missing {
	min-width: auto;
}

.basket__img {
	background-size: contain;
	border-radius: 8px;
	width: 72px;
	height: 96px;
}

.basket__info {
	display: flex;
	flex-direction: column;
	gap: 8px;
	flex: 1 1 auto;
}

.basket__title {
	max-width: 275px;
}

.basket__title_missing {
	max-width: 309px;
}

.basket__desc {
	display: flex;
	gap: 16px;
}

.basket__company {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.basket__company-text {
	color: #9797af;
	font-size: 13px;
	font-style: normal;
	font-weight: 400;
	line-height: 16px;
}

.tooltip {
	position: relative;
	display: flex;
	gap: 6px;
}
.tooltip__title {
}
.tooltip__text {
}

.tooltip__icon {
	cursor: pointer;
	padding: 5px;
	margin: -5px;
}

.tooltip__icon:hover + .tooltip__container {
	visibility: visible;
	opacity: 1;
}

.tooltip__container {
	position: absolute;
	background-color: #fff;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15), 0px 0px 1px rgba(0, 0, 0, 0.3);
	border-radius: 8px;
	visibility: hidden;
	opacity: 0;
	padding: 11px 16px 13px;
	transition: opacity 0.2s ease;

	width: 280px;
	left: 0;
	top: 25px;
	color: black;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.basket-controls {
	display: flex;
	flex-direction: column;
	gap: 8px;
	max-width: 100px;
	width: 100%;
}

.basket-controls__counter {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 8px;
	padding: 8px 8px 12px 10px;
	width: 100%;
	background: #fff;
}
.basket-controls__btn {
	color: #000;
	text-align: center;
	font-family: Segoe UI;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px; /* 120% */
	letter-spacing: -0.2px;
	background: transparent;
}
.basket-controls__value {
	display: flex;
	width: 44px;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px; /* 150% */
}
.basket-controls__max-products {
	color: #ff3b30;
	font-family: Segoe UI;
	font-size: 13px;
	font-style: normal;
	font-weight: 400;
	line-height: 16px; /* 123.077% */
}

.basket-controls__items {
	display: flex;
	justify-content: end;
	gap: 16px;
}

.basket-controls__items_missing {
	padding-right: 126px;
}

.basket-controls__items svg {
	cursor: pointer;
}

.basket-controls__items svg path {
	transition: all 0.3s ease-in;
}
.basket-controls__items svg:hover path {
	fill: #f55123;
}

.basket-price {
	min-width: 110px;
	display: flex;
	flex-direction: column;
	align-items: end;
	gap: 5px;
	align-self: stretch;
}

.basket-price__wrapper {
	display: flex;
	gap: 5px;
}

.basket-price__value {
	font-size: 20px;
	font-weight: 700;
	letter-spacing: -0.2px;
}

.basket-price__value_small {
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
}

.basket-price__currency {
	font-size: 16px;
	font-weight: 700;
}

.basket-price__discount {
	color: #9797af;
	font-size: 13px;
	line-height: 16px;
	position: relative;
}

.basket-price__discount::before {
	content: '';
	position: absolute;
	top: 56%;
	left: 5px;
	right: 3px;
	height: 1px;
	background: #9797af;
}

.basket-price__discount::after {
	content: '';
	position: absolute;
	bottom: 3px;
	left: 5px;
	right: 3px;
	border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}

.basket-price__tooltip-text {
	display: flex;
	justify-content: space-between;
	gap: 8px;
	font-size: 13px;
	font-weight: 400;
	line-height: 16px;
}

.wordSpacing {
	word-spacing: -3px;
}

.basket-price__sale {
	color: #a0a0a4;
}

.basket-price .tooltip__container {
	width: max-content;
	right: -10px;
	left: auto;
	padding: 11px 16px 13px 16px;
}

.toggle-arrow {
	cursor: pointer;
	padding: 5px;
	margin: -5px;
	transition: transform 0.3s ease-in;
}

.toggle-arrow_close {
	transform: rotate(180deg);
}

.choose {
	margin-bottom: 20px;
}

.info-wrapper {
	border-radius: 16px;
	background: #fff;
	padding: 16px 24px 24px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 16px;
}

.info-wrapper__head {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.info-wrapper__link {
	color: #cb11ab;
	text-align: right;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	cursor: pointer;
	padding-top: 5px;
}

.info-wrapper__body {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.info-wrapper__grid {
	display: grid;
	grid-template-columns: 153px auto;
	column-gap: 32px;
}

.info-wrapper__title {
	font-weight: 600;
	line-height: 24px;
	font-size: 16px;
	letter-spacing: 0.01px;
	white-space: nowrap;
}

.point__address {
	line-height: 24px;
}

.point__info {
	display: flex;
	font-size: 13px;
	margin-top: 4px;
	line-height: 16px;
}

.point__rate {
	margin-left: 4px;
	margin-right: 8px;
}

.info-wrapper__cost {
	line-height: 24px;
}

.info-wrapper__images {
	display: flex;
	gap: 8px;
}

.info-wrapper__img {
	position: relative;
}
.info-wrapper__img img {
	width: 40px;
	height: 56px;
	border-radius: 8px;
}

.info-wrapper__delivery {
	display: flex;
	align-items: center;
	gap: 8px;
	line-height: 16px;
	margin-top: 6px;
}

.payment__method {
	width: 100%;
	display: flex;
	gap: 8px 12px;
	flex-wrap: wrap;
	line-height: 24px;
	align-items: center;
}

.payment__period {
	line-height: 8px;
}
.payment__info {
	flex-basis: 100%;
	color: #9797af;
}

.recipient__content {
	width: 100%;
}
.form {
	max-width: 700px;
	display: flex;
	flex-direction: column;
	gap: 0;
}

.form__row {
	display: flex;
	gap: 24px;
	height: 64px;
}

.form__container {
	flex-grow: 1;
}

.form__title {
	position: relative;
	transform: translateY(25px);
	color: #a0a0a4;
}

.form__label {
	display: flex;
	flex-direction: column-reverse;
	border-bottom: 1px solid #a0a0a4;
}

.form__input {
	height: 27px;
}

.form__input:focus ~ .form__title,
.form__input:not(:placeholder-shown) ~ .form__title {
	transform: translateY(0);
	font-size: 13px;
}

.form__error {
	color: #f55123;
	font-size: 12px;
}

.inn {
	font-size: 12px;
}
