main {
	flex: 1 1 auto;
}

.basket {
	background: #f6f6fa;
	border-radius: 24px;
	padding: 22px 24px 50px;
	display: flex;
	gap: 32px;
	width: 100%;
}

.basket__left-wrapper {
	flex: 7;
	padding-top: 14px;
}

.basket__right-wrapper {
	flex: 3;
}

.h1 {
	/* font-family: Segoe UI, sans-serif; */
	font-size: 28px;
	font-style: normal;
	font-weight: 700;
	line-height: 36px; /* 128.571% */
	letter-spacing: -0.28px;
}

.h2 {
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 32px; /* 133.333% */
	letter-spacing: -0.24px;
}

.h3 {
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 28px;
	letter-spacing: -0.2px;
}

.h4 {
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 24px; /* 150% */
}

.h5 {
	font-style: normal;
	font-weight: 700;
	font-size: 13px;
	line-height: 16px; /* 123.077% */
}

.p13 {
	font-size: 13px;
	font-style: normal;
	font-weight: 400;
	line-height: 16px; /* 123.077% */
}

.p14 {
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px; /* 142.857% */
}

.p16 {
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px; /* 150% */
}

.icon {
	cursor: pointer;
	padding: 5px;
	margin: -5px;
}

.row-between {
	display: flex;
	justify-content: space-between;
}

.total {
	background: #fff;
	border-radius: 16px;
	box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3),
		0px 2px 10px 0px rgba(0, 0, 0, 0.15);
	padding: 17px 24px 24px;
	display: flex;
	flex-direction: column;
	gap: 26px;
	height: max-content;
}

.total__item {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.total__content {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.total__title {
	margin-bottom: 12px;
}

.total__box {
	display: flex;
	align-items: center;
	gap: 8px;

	border-radius: 8px;
	background: #f6f6fa;
	padding: 8px 8px 12px 8px;
}

.total__price {
	margin-top: 9px;
}

.total__price svg {
	min-width: 22px;
}

.colored-magenta {
	line-height: 16px;
	color: #cb11ab;
	width: max-content;

	border-bottom: 1px dashed rgba(203, 17, 171, 0.2);
}

.colored-green {
	line-height: 16px;
	color: #0cb477;
	width: max-content;

	border-bottom: 1px dashed rgba(12, 180, 119, 0.2);
}

.total__card {
	display: flex;
	align-items: center;
	gap: 9px;
}

.checkbox {
	flex-direction: column;
	align-items: start;
	margin-top: 7px;
}

.checkbox__label {
	cursor: pointer;
	display: flex;
	align-items: center;
}

.checkbox__real {
	width: 0;
	height: 0;
	opacity: 0;
	z-index: -1;
}

.checkbox__custom {
	display: inline-block;
	width: 22px;
	height: 22px;
	border: 1px solid #c5c5c8;
	border-radius: 5px;
	cursor: pointer;
	position: relative;
	transition: border 0.2s ease-in, background 0.2s ease-in;
	margin-right: 9px;
	z-index: 1;
}

.checkbox__custom::before {
	content: '';
	display: inline-block;
	width: 15px;
	height: 12px;
	background: url('../../assets/icons/check-white.svg');
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	transition: transform 0.2s ease-in;
}

.checkbox__real:checked + .checkbox__custom {
	background: #cb11ab;
	border: 1px solid #cb11ab;
}

.checkbox__real:checked + .checkbox__custom::before {
	transform: translate(-50%, -50%) scale(1);
}

.checkbox__real:hover + .checkbox__custom,
.checkbox__real:focus + .checkbox__custom {
	border: 1px solid #cb11ab;
}

.rules-confirm {
	margin-top: 6px;
	display: flex;
	align-items: flex-start;
	font-size: 13px;
	line-height: 16px;
}

.rules-confirm img {
	margin-right: 8px;
}

.rules {
	border-bottom: 1px solid #c5c5c8;
	cursor: pointer;
}

.basket__items-selection {
	display: flex;
	justify-content: space-between;
	padding: 19px 0 16px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.basket__list {
	display: flex;
	flex-direction: column;
}

.basket__item {
	display: flex;
	align-items: center;
	gap: 16px;
}

.basket__checkbox {
	display: flex;
	align-items: center;
	flex-direction: row;
	gap: 3px;
}

.basket__img {
	background-size: contain;
	border-radius: 8px;
	width: 72px;
	height: 96px;
}

.basket__info {
	display: flex;
	flex-direction: column;
	gap: 8px;
}
.basket__desc {
	display: flex;
	gap: 16px;
}

.basket__company {
	position: relative;
}

.tooltip {
	display: flex;
	gap: 6px;
}
.tooltip__title {
}
.tooltip__text {
}

.tooltip__icon {
	cursor: pointer;
	padding: 5px;
	margin: -5px;
}

.tooltip__icon:hover + .tooltip__container {
	visibility: visible;
	opacity: 1;
}

.tooltip__container {
	position: absolute;
	background-color: #fff;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15), 0px 0px 1px rgba(0, 0, 0, 0.3);
	border-radius: 8px;
	visibility: hidden;
	opacity: 0;
	padding: 11px 16px 13px;
	transition: opacity 0.2s ease;

	width: 280px;
	left: 0;
	top: 50px;
	color: black;
	display: flex;
	flex-direction: column;
	gap: 8px;
}
