* {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

*:before,
*:after {
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	width: 100%;
	height: 100%;
	font-size: 14px;
	font-family: 'Segoe UI', Arial, sans-serif;
	font-weight: 400;
	line-height: 1;
}

body.lock {
	overflow: hidden;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input:-webkit-autofill {
	-webkit-box-shadow: inset 0 0 0 50px rgba(255, 255, 255, 0.2) !important; /* Цвет фона */
	-webkit-text-fill-color: #fff !important; /* цвет текста */
	color: #fff !important; /* цвет текста */
}

input[type='number'] {
	-moz-appearance: textfield;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul,
li {
	list-style: none;
}

img {
	block-size: auto;
	max-inline-size: 100%;
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
}
